#dataset
FER-2013   Link to download - (https://www.kaggle.com/datasets/msambare/fer2013)

#for database
MySQL workbench

#needed libraries to build a app
streamlit
opencv-python
numpy
tensorflow
pyttsx3
mysql-connector-python
pandas
